
@{
    ViewBag.Title = "General Error";
}

<h2>Error</h2>
<p>Whoops, we have an error!</p>
<p>Sorry for any inconvenience caused, however our webmasters have been informed of this glitch today and will work on it as quickly as possible to fix it.</p>
<p>Thank you for your patience.</p>

