
@{
    ViewBag.Title = "Not Found ";
}

<h2>Page Not Found</h2>
<p>Oops! The page you were looking for does not exist.</p>
<p>Please use the menu systems provided to navigate our systems.</p>
<p>If the problem persists you can click <a href="mailto:g2bam2012@gmail.com?Subject=Page not found error">Here</a> to mail us.</p>

