@{
    ViewBag.Title = "Error";
}

<h2>Admin Error</h2>
<p>Oops! There was an error somewhere.</p>
<div class="alert alert-danger">
    @TempData["ErrorMessage"]

</div>
<p>If the error persists please contact the development team and quote the message above.</p>

