@model IEnumerable<MVCWebProject2.Areas.Admin.Models.VehicleCategoryListViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Admin Home</h2> 
<p>@ViewBag.Message</p>
<p>Welcome to the admin CMS page!</p>
