
@{
    ViewBag.Title = "Confirm External Register";
}

<h2>Confirm External Register</h2>
<p>Thank your for completing your registration!</p>
<p>We have now signed you into our services</p> 
<p>You can now login using your chosen external provider or use your local login that you have just created to sign back in again in future.</p>

