
@{
    ViewBag.Title = "Add/Update Confirm";
}

<h2>Add/Update Confirm</h2>
<p>Your record has been successfully @ViewBag.Message.</p>
<p>Click @Html.ActionLink("Here", "Edit", new { id = ViewBag.Id }) to edit or update again.</p>
