
@{
    ViewBag.Title = "Add/Update Confirm";
}
<h2>Manage Fuel Types</h2>
<div class="row">
    <div class="col-md-3">
        @Html.Partial("VehicleMenu")
    </div>

    <div class="col-md-9">
        <p>Your record has been successfully @ViewBag.Message.</p>
        <p>Click @Html.ActionLink("Here", "Edit", new { id = ViewBag.Id }) to edit or update again.</p>
    </div>
</div>

