@{
    ViewBag.Title = "Login Failure";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
    <p>Sorry we were unable to sign you in with your chosen provider.</p>
    <p>You can try another provider or login with a registered user account @Html.ActionLink("Here", "Login").</p>
    <p>Or you can register a local account with us @Html.ActionLink("Here", "Register") instead.</p>
</hgroup>
